#header {
  height: 52px;
  z-index: 1;

}
.fontsizechange{
  font-size: 50px;

}
.navbar {
  margin-bottom: 0;
  height: 52px;
  // background-color: black;
  // border-color: black;
  color: maroon;

}

.navbar-text {
  color: red; }
