<div class="posts">

  <div class="background">
    <h3><%= @topic[:title] %></h3>
    <h4><%= @topic[:description] %></h4>
  </div>

  <div id="posts">
    <% @posts.each do |post| %>
    <%= render partial: "post",locals: { post: post, topic: @topic } %>
    <% end %>
  </div>

  <div id="posts-form-container">
    <%= render partial: "form",  locals: { post: @post, topic: @topic } %>
  </div>


</div>
